
<div class="pages">
	<%= gflash %>
	<%= js add_gritter(flash[:notice], :title => "Sample gritter app", :sticky => true, :time => 1000, :class_name => "custom_gritter", :position => :bottom_left, :fade_in_speed => "medium", :fade_out_speed => 1000) %>
  <p>
    I am the home page. Once you visit the site, you will meet me first. You should see a flash message soon.
  </p>
</div>